@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="css/forgotPassword.css" />
  <title>Document</title>
</head>

<body>
  <div class="box-pass">
    <p>FOTGOT PASSWORD</p>
  </div>
  <div class="box-form">
    <form method="POST" action="ForgotPassword" class="user">
      <div class="form-group">
        <div class="box-form-text">
          <label for="">Password :</label>
        </div>

        <input type="password" id="password" name="password"  id="exampleInputPassword" />
      </div>
      <div class="form-group">
        <div class="box-form-text">
          <label for="">New Password :</label>
        </div>

        <input type="password" id="fullname" id="exampleInputPassword" />
      </div>
      <div class="form-group">
        <div class="box-form-text">
          <label for="">Confirm New Password :</label>
        </div>

        <input type="password" id="password-comfirmation" name="passwordNew" id="exampleInputPassword" />
      </div>
      <button class="btn">Update</button>
    </form>
  </div>
  <script src="js/error.js"></script>
  <script>
      Validator({
          form: '#form-1',
          errorSelector: '.form-message',
          erorrClass: 'error',
          formGroup: '.user-enter',
          rules: [
              Validator.isRequired('#fullname', '* Không được để trống'),
              Validator.isRequired('#email', 'Không được để trống email'),
              Validator.isEmail('#email'), 
              Validator.isRequired('#password', 'Mật khẩu không được để trống'),
              Validator.minLength('#password', 6, 'Mật khẩu tối thiểu phải có 6 kí tự'),
              Validator.isRequired('#password-comfirmation'),
              Validator.isConfirmed('#password-comfirmation', function () {
                  return document.querySelector('#form-1 #password').value;
              }, 'Mật khẩu nhập lại không chính xác'),
              Validator.isRequired("input[name='gender']"),
              Validator.isRequired("#file"),
              Validator.isRequired('#province', 'Vui lòng chọn tỉnh thành')
          ]
      });
  </script>
</body>

</html>
