@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MS Admin 2 - Product</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="css/list-product.css" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container mt-5">
        <table class="table  tm-table-small tm-product-table">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">IN STOCK</th>
                    <th scope="col">IMAGES</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListProduct)
                {
                    @* string i = item.ListImage.FirstOrDefault().imageUrl; *@
                    <tr>
                        <th scope="row"><input type="checkbox" /></th>
                        <td class="tm-product-name"><a href="/Admin/updateproduct?productID=@item.productID"
                            class="text-a">@item.productName</a></td>
                        <td>@item.price</td>
                        <td>@item.quantity</td>

                        @foreach (var i in ViewBag.ListImage)
                        {
                            @if (item.productID == i.productID)
                            {
                               <td><img src="@i.imageUrl" width="100px" height="70px"></td>
                                break;
                            }

                        }
                        </tr>
                }

                @* <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td class="tm-product-name">Product 2</td>
                    <td>1,250</td>
                    <td>750</td>
                    <td><img src="img/Mochi-sweets_Kogane_03.jpg" width="100px" height="70px"></td>
                    </tr> *@
            </tbody>
        </table>
        <hr>
        <!-- table container -->
        <a href="AddProduct" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
        <button class="btn btn-primary btn-block text-uppercase">
            Delete selected products
        </button>
    </div>
</body>