*{
    margin: 0;
    padding: 0;
}
.radio-inline input{
    margin-left: 100px;
}

input[type="file"] {
    display: block;
  }
  .imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .remove:hover {
    background: white;
    color: black;
  }

.boxImg{
  padding: 10px;
  float: left;
  width: 100%;
}

.boxImg img{
  float: left;
}

.boxDelete {
    float: left;
    margin-left: 15px;
}

.boxLinkImage {
  margin-left: 12px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.boxImgMain img{
  width: 500px;
}

.imgText{
  padding: 10px;
}

.boxAddImg{
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 30px;
}

.boxAddImg label {
  width: 300px;
}

.boxA {
  display: table;
}

.textMain {
  height: 40px;
}

.form-group .col-sm-3 {
  font-weight: 500;
}

.b {
  margin-left: 14px;
}
